// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
  background-color: #caefd2;
  border-width: medium;
  border-radius: 5px;
  width: 100px;
  padding: 5px;
  text-align: center;
}
